<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title id="title">Site</title>
    <link rel="stylesheet" href="../Css/reset.css"/>
    <script src="../javascript/jquery-1.10.2.min.js"></script>
    <script src="../javascript/serviceLocation.js" type="text/javascript"></script>
    <script type="text/javascript" src="../javascript/geoLocation.js"></script>
    <script type="text/javascript" src="../javascript/postAddSite.js"></script>
    <link rel="stylesheet" href="../Css/style.css"/>
    <link rel="stylesheet" href="../Css/input.css"/>
    <link rel="stylesheet" href="../Css/jquery-ui.css"/>
    <link rel="stylesheet" href="../Css/geoLocation.css"/>
    <script type="text/javascript" src="../javascript/navigationBar.js"></script>
    <script type="text/javascript" src="../javascript/getParameters.js"></script>
    <script type="text/javascript" src="../javascript/addSite.js"></script>
</head>
<body>
<div id="navigationBar" class="container"></div>


<form name="frmAddSite" action="../index.html">
    <div class="container">
        <div class="title">
            <h2>Add new Site</h2>
        </div>
        <input type="hidden" id="id"/>

        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" value="" class="textbox"/>
        </div>
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" value="" class="textbox"/>
        </div>
        <div>
            <!-- geolocation.cs adds functionality to the
            geolocation button to use HTML5 geolocation
            API to get the current location and write
            it to the item with the id coordinates -->
            <label for="coordinates">Coordinates:</label>
            <input id="coordinates" type="text"/>
            <input type="button" id="geolocation"/>
        </div>
        <div id="Navigation">
            <input type="submit" id="Save" value="Save" class="internalNavigationButton"/>
        </div>
    </div>
</form>
</body>
</html>
