<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Glossary</title>
    <!-- reset css of each browser to a base common css style. -->
    <link rel="stylesheet" href="../Css/reset.css"/>
    <link rel="stylesheet" href="../Css/style.css"/>
    <link rel="stylesheet" href="../Css/glossary.css"/>
</head>
<body>
<div id="container">
<div cLass="Term">
    <div cLass="title">Minimum Number Of Vessels (MNV)</div>
    This is the minimum number of vessels that this selection of sherd could represent.
</div>
<div cLass="Term">
<div cLass="title">Portable X-ray Fluorescence (pXRF)</div>
This is a non destructive scientific test, which can used to determine the element composition of a sample.
This is achieved by bombarding a sample with X-Rays, which causes electrons to jump to higher energy shells.
These electrons quickly drop back down to the lower energy electron shells and emit the excess energy as
a photon of light a particular wavelength depending on the element.

Typical wavelength are listed below.
<table border="1">
<tr>
    <th>Element</th>
    <th>Line</th>
    <th>Wavelength (nm)</th>
</tr>
<tr>
    <td>Li</td>
    <td>K&alpha;</td>
    <td>22.80000</td>
</tr>
<tr>
    <td>Be</td>
    <td>K&alpha;</td>
    <td>11.40000</td>
</tr>
<tr>
    <td>B</td>
    <td>K&alpha;</td>
    <td>6.76000</td>
</tr>
<tr>
    <td>C</td>
    <td>K&alpha;</td>
    <td>4.47000</td>
</tr>
<tr>
    <td>N</td>
    <td>K&alpha;</td>
    <td>3.16000</td>
</tr>
<tr>
    <td>O</td>
    <td>K&alpha;</td>
    <td>2.36200</td>
</tr>
<tr>
    <td>F</td>
    <td>K&alpha;<sub>1,2</sub></td>
    <td>1.83200</td>
</tr>
<tr>
    <td>Ne</td>
    <td>K&alpha;<sub>1,2</sub></td>
    <td>1.46100</td>
</tr>
<tr>
    <td>Na</td>
    <td>K&alpha;<sub>1,2</sub></td>
    <td>1.19100</td>
</tr>
<tr>
    <td>Mg</td>
    <td>K&alpha;<sub>1,2</sub></td>
    <td>0.98900</td>
</tr>
<tr>
    <td>Al</td>
    <td>K&alpha;<sub>1,2</sub></td>
    <td>0.83400</td>
</tr>
<tr>
    <td>Si</td>
    <td>K&alpha;<sub>1,2</sub></td>
    <td>0.71260</td>
</tr>
<tr>
    <td>P</td>
    <td>K&alpha;<sub>1,2</sub></td>
    <td>0.61580</td>
</tr>
<tr>
    <td>S</td>
    <td>K&alpha;<sub>1,2</sub></td>
    <td>0.53730</td>
</tr>
<tr>
    <td>Cl</td>
    <td>K&alpha;<sub>1,2</sub></td>
    <td>0.47290</td>
</tr>
<tr>
    <td>Ar</td>
    <td>K&alpha;<sub>1,2</sub></td>
    <td>0.41930</td>
</tr>
<tr>
    <td>In</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.37720</td>
</tr>
<tr>
    <td>K</td>
    <td>K&alpha;<sub>1,2</sub></td>
    <td>0.37420</td>
</tr>
<tr>
    <td>Sn</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.36000</td>
</tr>
<tr>
    <td>Sb</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.34390</td>
</tr>
<tr>
    <td>Ca</td>
    <td>K&alpha;<sub>1,2</sub></td>
    <td>0.33590</td>
</tr>
<tr>
    <td>Te</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.32890</td>
</tr>
<tr>
    <td>I</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.31490</td>
</tr>
<tr>
    <td>Sc</td>
    <td>K&alpha;<sub>1,2</sub></td>
    <td>0.30320</td>
</tr>
<tr>
    <td>Xe</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.30160</td>
</tr>
<tr>
    <td>Cs</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.28920</td>
</tr>
<tr>
    <td>Ba</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.27760</td>
</tr>
<tr>
    <td>Ti</td>
    <td>K&alpha;<sub>1,2</sub></td>
    <td>0.27490</td>
</tr>
<tr>
    <td>L&alpha;</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.26660</td>
</tr>
<tr>
    <td>Ce</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.25620</td>
</tr>
<tr>
    <td>V</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.25040</td>
</tr>
<tr>
    <td>Pr</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.24630</td>
</tr>
<tr>
    <td>Nd</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.23700</td>
</tr>
<tr>
    <td>Cr</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.22900</td>
</tr>
<tr>
    <td>Pm</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.22820</td>
</tr>
<tr>
    <td>Sm</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.22000</td>
</tr>
<tr>
    <td>Eu</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.21210</td>
</tr>
<tr>
    <td>Mn</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.21020</td>
</tr>
<tr>
    <td>Gd</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.20470</td>
</tr>
<tr>
    <td>Tb</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.19770</td>
</tr>
<tr>
    <td>Fe</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.19360</td>
</tr>
<tr>
    <td>Dy</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.19090</td>
</tr>
<tr>
    <td>Ho</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.18450</td>
</tr>
<tr>
    <td>Co</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.17890</td>
</tr>
<tr>
    <td>Er</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.17840</td>
</tr>
<tr>
    <td>Tm</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.17270</td>
</tr>
<tr>
    <td>Yb</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.16720</td>
</tr>
<tr>
    <td>Ni</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.16580</td>
</tr>
<tr>
    <td>Lu</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.16200</td>
</tr>
<tr>
    <td>Hf</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.15700</td>
</tr>
<tr>
    <td>Cu</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.15410</td>
</tr>
<tr>
    <td>Ta</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.15220</td>
</tr>
<tr>
    <td>W</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.14760</td>
</tr>
<tr>
    <td>Zn</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.14350</td>
</tr>
<tr>
    <td>Re</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.14330</td>
</tr>
<tr>
    <td>Os</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.13910</td>
</tr>
<tr>
    <td>Ir</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.13510</td>
</tr>
<tr>
    <td>Ga</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.13400</td>
</tr>
<tr>
    <td>Pt</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.13130</td>
</tr>
<tr>
    <td>Au</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.12760</td>
</tr>
<tr>
    <td>Ge</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.12540</td>
</tr>
<tr>
    <td>Hg</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.12410</td>
</tr>
<tr>
    <td>Tl</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.12070</td>
</tr>
<tr>
    <td>As</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.11760</td>
</tr>
<tr>
    <td>Pb</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.11750</td>
</tr>
<tr>
    <td>Bi</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.11440</td>
</tr>
<tr>
    <td>Po</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.11140</td>
</tr>
<tr>
    <td>Se</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.11050</td>
</tr>
<tr>
    <td>At</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.10850</td>
</tr>
<tr>
    <td>Rn</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.10570</td>
</tr>
<tr>
    <td>Br</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.10400</td>
</tr>
<tr>
    <td>Fr</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.10310</td>
</tr>
<tr>
    <td>Ra</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.10050</td>
</tr>
<tr>
    <td>Kr</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.09801</td>
</tr>
<tr>
    <td>Ac</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.09800</td>
</tr>
<tr>
    <td>Th</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.09560</td>
</tr>
<tr>
    <td>Pa</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.09330</td>
</tr>
<tr>
    <td>Rb</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.09256</td>
</tr>
<tr>
    <td>U</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.09110</td>
</tr>
<tr>
    <td>Np</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.08880</td>
</tr>
<tr>
    <td>Sr</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.08753</td>
</tr>
<tr>
    <td>Pu</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.08680</td>
</tr>
<tr>
    <td>Am</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.08470</td>
</tr>
<tr>
    <td>Y</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.08288</td>
</tr>
<tr>
    <td>Cm</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.08280</td>
</tr>
<tr>
    <td>Bk</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.08090</td>
</tr>
<tr>
    <td>Cf</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.07910</td>
</tr>
<tr>
    <td>Zr</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.07859</td>
</tr>
<tr>
    <td>Es</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.07730</td>
</tr>
<tr>
    <td>Fm</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.07560</td>
</tr>
<tr>
    <td>Nb</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.07462</td>
</tr>
<tr>
    <td>Md</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.07400</td>
</tr>
<tr>
    <td>No</td>
    <td>L&alpha;<sub>1</sub></td>
    <td>0.07240</td>
</tr>
<tr>
    <td>Mo</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.07094</td>
</tr>
<tr>
    <td>Tc</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.06751</td>
</tr>
<tr>
    <td>Ru</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.06433</td>
</tr>
<tr>
    <td>Rh</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.06136</td>
</tr>
<tr>
    <td>Pd</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.05859</td>
</tr>
<tr>
    <td>Ag</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.05599</td>
</tr>
<tr>
    <td>Cd</td>
    <td>K&alpha;<sub>1</sub></td>
    <td>0.05357</td>
</tr>
</table>
</div>
</div>
</body>
</html>