<!DOCTYPE html>
<html>
<head>
    <title>Project Dawn Settings</title>
    <link rel="stylesheet" href="../Css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="../Css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../Css/Main.css"/>
    <link rel="stylesheet" type="text/css" href="../Css/jqWidget/jqx.base.css"/>
    <script type="text/javascript" src="../javascript/jquery.min.js"></script>
    <script src="../javascript/serviceLocation.js" type="text/javascript"></script>
    <script src="../javascript/settings.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../Css/input.css"/>
</head>
<body>
<div class="container">
    <button id="Main" class="navigationButton"><img src="../icons/Table.png"/><br/>Main screen</button>
    <button id="AddFind" class="navigationButton"><img src="../icons/Milk-Bottle.png"/><br/>Add Find</button>
    <button id="AddTrench" class="navigationButton"><img src="../icons/Spade-32.png"/><br/>Add Trench</button>
    <button id="AddSite" class="navigationButton"><img src="../icons/Colosseum Of Rome-32.png"/><br/>Add site</button>
    <button id="Settings" class="navigationButton"><img src="../icons/Settings-02.png"/><br/>Settings</button>
    <button id="Upload" value='Upload' class="navigationButton"><img
            src="/icons/Upload.png"/><br/>Upload
    </button>
</div>
<form name="frmSettings" action="../index.html">
    <div class="container">
        <div class="title">
            <h2>Configure Service</h2>
        </div>
        <div>
            <label for="useServerService">Use web server's Service:</label>
            <input type="checkbox" id="useServerService" value="UseServerService"/>
        </div>
        <div>
            <label for="location">Service Location:</label>
            <input type="text" id="location" value="" class="textbox"/>
        </div>
        <div>
            <label for="location">Service Location:</label>
            <input type="button" id="test" value="Test"/>
        </div>

        <div id="Navigation">
            <input type="submit" id="Save" value="Save" class="internalNavigationButton"/>
        </div>
    </div>
</form>

</body>
</html>